@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #533738;
  background-color: #F6EDE9;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #533738;
  cursor: pointer;
}

ul {
  list-style: none;
}

h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.container__content {
  max-width: 1066px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 36px 0;
  width: 100%;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.meni__item:not(:last-child) {
  margin-right: 22px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  padding-top: 152px;
  padding-bottom: 168px;
  background-image: url("../img/hero-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__content {
  max-width: 534px;
}

.hero__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  margin-bottom: 34px;
}

.hero__subtitle {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 21px;
}

.btn {
  display: inline-block;
  padding: 25px 66px;
  background-color: #CC8B86;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.company {
  padding-top: 65px;
}

.company__title {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}

.company__content {
  display: flex;
  margin-bottom: 21px;
}

.company__img {
  margin-right: 64px;
}

.company__subtitle {
  max-width: 512px;
}

.features {
  background-color: #8D7370;
}

.features__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 85px 0;
}

.features__title {
  font-size: 50px;
  line-height: 62px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.features__subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.portfolio {
  padding: 65px 0;
}

.portfolio__title {
  margin-bottom: 40px;
}

.portfolio__content {
  margin-bottom: 40px;
}

.portfolio__top {
  margin-bottom: 30px;
}

.portfolio__top,
.portfolio__bottom {
  display: flex;
}

.portfolio__link {
  display: inline-block;
  position: relative;
  transition: all 0.5s ease;
}

.portfolio__link:not(last-child) {
  margin-right: 16px;
}

.portfolio__description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(100, 72, 69, 0.8);
  z-index: 5;
  transition: all 0.5s;
  color: #fff;
  opacity: 0;
  transition: all 0.5s;
}

.portfolio__link:hover {
  transition: all 0.5s;
}

.portfolio__link:hover .portfolio__description {
  opacity: 1;
}

.portfolio__description-title {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 30px;
}

.portfolio__description-text {
  padding: 0 35px;
  color: #fff;
}

.link__more {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  transition: transform 0.3s;
}

.img__more {
  transition: all 0.3s;
}

.link__more:hover .img__more {
  transform: translateX(15px);
}

.team {
  background-color: #E2C4BA;
  padding: 50px 0;
}

.team__title {
  text-align: center;
  margin-bottom: 40px;
}

.team__list {
  display: grid;
  gap: 34px;
  grid-template-columns: repeat(3, 1fr);
}

.team__item-img {
  margin-bottom: 10px;
}

.work {
  padding-bottom: 80px;
  background-color: #E2C4BA;
}

.work__title {
  margin-bottom: 40px;
  text-align: center;
}

.work__list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.work__step {
  display: inline-block;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  border-radius: 100%;
  background-color: #8D7370;
  padding: 20px 0;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

.reviews {
  padding: 65px 0;
}

.reviews__title {
  text-align: center;
  margin-bottom: 40px;
}

.reviews__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__text {
  max-width: 407px;
  margin-right: 20px;
}

.reviews__description {
  margin-bottom: 19px;
}

.reviews_signature {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  text-transform: uppercase;
}

.reviews__images {
  max-width: 407px;
}

.reviews__image-top {
  margin-bottom: 24px;
}

.order {
  background: #8D7370;
}

.order__inner {
  display: flex;
  justify-content: space-between;
}

.order__content {
  margin-right: 20px;
}

.order__title {
  margin-top: 50px;
  margin-bottom: 24px;
  color: #fff;
}

.order__text {
  color: #FFFFFF;
  opacity: 0.6;
  margin-bottom: 44px;
}

.order__form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 35px;
}

.form-group input {
  width: 508px;
  background-color: #8D7370;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  font-size: 18px;
  line-height: 30px;
  color: #F6EDE9;
}

.form-group input placeholder {
  color: #F6EDE9;
}

.form__btn button {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #533738;
  background: #CC8B86;
  padding: 25px 66px;
  border: none;
  cursor: pointer;
}

.footer {
  padding: 37px 0;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__adress {
  margin-left: 42px;
}
