@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap')
*,
*::before,
*::after

  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  color: #533738
img
  max-width: 100%

a
  text-decoration: none
  color: #533738
  cursor: pointer
.container
  max-width: 1230px
  padding: 0 15px
  margin: 0 auto
.header
  position: absolute
  left: 0
  top: 0
  padding: 36px 0
  width: 100%
.menu__list
  display: flex
  align-items: center
  justify-content: space-between
.meni__item:not(:last-child)
  margin-right: 22px

.header__container
  display: flex
  align-items: center
  justify-content: space-between

.hero
  padding-top: 152px
  padding-bottom: 168px
  min-height: 715px
  background-image: url("../img/hero-bg.png")
  background-position: center
  background-size: cover
  background-repeat: no-repeat

.hero__content
  max-width: 534px
.hero__title
  font-weight: 400
  font-size: 50px
  line-height: 62px
  margin-bottom: 34px
.hero__subtitle
  font-size: 18px
  line-height: 30px
  margin-bottom: 21px
.btn
  display: inline-block
  padding: 25px 66px
  background-color: #CC8B86
  font-weight: 500
  font-size: 20px
  line-height: 24px
